body{
    background-color: #F8F8F8;
    font-family: roboto-condensed;
}
h1{
    margin-left:400px;
    color:  #002F5F;
  }
   form{
     background-color: white;
    display: flex;
    flex-direction: column;
    width: 44%;
    margin: auto; 
    color:  #002F5F;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
   } 
   label{
       display: flex;
       justify-content:start;
     font-size: 19px;
   }
  .buttons{
    display: flex;
    flex-direction: row;
    justify-content:center;    
  }
  .buttons button{
    width: 75px;
    height:32px;
    border-radius: 11%;
    text-align: center;
    margin: 5px;
    

}
  #submit{
    background-color: #FF7900;
    width: 110px;
    border-color: #FF7900;
  }
  #cancel
  {
    background-color: #818A8F;
    width: 110px;

  }
  textarea::placeholder{
       padding-top: 8px;
  }
.components{
    width: 450px;
    height:40px;
}
label{
    color: #394A58;
    font-family: Roboto-condensed;
}
#category1{
    text-align: center;
}
#speakername{
    width: 450px;
    height: 40px;
}
